#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: blueviolet;
  height: 100px;
  width: 200px;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}

.my-button {
  background-color: cornflowerblue;
}

.babel-button {
  background-color: gold;
}
